<div class="container">
    <div class="jumbotron">
        <h3>Welcome {{user}}({{studentNumber}})</h3>
        <label #currentTime>{{date | date:'HH:mm:ss - d - MMM - yyyy ' }}</label>
    </div>
    <div class="row">
        <div class="column" style="background-color:#fff;">
            <div>
                <h5>Download your exam paper below </h5>
                <label><strong>Code:</strong> {{examSetup.name}}</label><br>
                <label><strong>Description:</strong>{{examSetup.Description}}</label><br>
                <label><strong>Lecture Email:</strong> {{examSetup.staffEmail}}</label>
                <br>
                <!-- <label><strong>Download:</strong></label><a class="downloadLink" href="examSetup.ExamPaper"> {{examSetup.name}}{{examSetup.Description}}</a> -->
            </div>
        </div>

        <div class="column" style="background-color:#fff;">
            <div class="submissionInfoDiv">
                <span id="timer"></span>
                <h4>Upload your complated Exam Paper</h4>
                <p>students need to verify that they are uploading the correct document before the submission closes</p>
                <li>PDF Files only</li>
                <li>File size max 10MB</li>
            </div>
                <h4>Upload here</h4>
                <form #f="ngForm" (ngSubmit)="onUpload(f)" enctype='multipart/form-data'>
                    <input type="file" accept=".pdf" name="answerPaperPDF" (change)="onFileSelected($event)"/>
                    <button class="btn btn-lg btn-primary btn-block">Upload Image</button>
                </form>
        </div>
    </div>
</div>