<div class="m-6  instructions py-2">
    <p class="text-center instructions-header">Please note that to upload the exam the Lecture/Examiner should follow
        the steps below</p>
    <li>Select the Module Code from the dropdown list</li>
    <li>Upload a PDF file</li>
    <li>Choose the date of the Exam</li>
    <li>Create Exam</li>
</div>
<div class="d-flex justify-content-center" style="margin: 30px;">
    <div class="card w-50">
        <div class="card-header text-center">Upload Exam</div>
        <div class="card-body d-flex justify-content-center">
            <form #f="ngForm" (ngSubmit)="onUpload(f,selectedValue.value)" enctype="multipart/form-data">
                <label><strong>Module Code: </strong></label>
                <select #selectedValue (change)="onValueChange(selectedValue.value)">
                    <option *ngFor="let module of moduleCodes" [value]="module">{{module}}</option>
                </select>
                <br />
                <label for="examDate"><strong>Exam Paper:</strong></label>
                <input class="m-3" type="file" accept=".pdf" size="10485760" name="examPaperPDF" id="examPaperPDF"
                    (change)="onFileSelected($event)" />
                <br />
                <div *ngIf="errorMessage" class="errMessage">{{ errorMessage }}</div>
                <label for="examDate"><strong>Exam Date:</strong></label>
                <input class="mb-3" type="date" id="dateExam" [(ngModel)]="dateExam" name="examDate" />
                <br />
                <button class="btn btn-sm btn-primary btn-block w-100 ">Create Exam</button>
            </form>
        </div>

    </div>
</div>
<div class="d-flex justify-content-center tableContainer">
    <table class="table w-50 table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Module Code</th>
                <th scope="col">Exam Date</th>
                <th scope="col">Created At</th>
                <th scope="col">Download PDF</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let availableExam of availableExams">
                <th scope="row">{{ availableExam.moduleCode }}</th>
                <td>{{ availableExam.dateExam }}</td>
                <td>{{ availableExam.examPaperPDF }}</td>
                <td>
                    <!-- Add a download link for each row -->
                    <a [href]="getDownloadUrl(availableExam.examPaperPDF)" download><i class="bi bi-arrow-down-circle-fill"></i></a>
                  </td>
                <td><a href="" class="btn"><i  class="bi bi-trash-fill" style="color: red;"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>