.container{
    // 
    margin: 0 auto;
}

.card{
    // margin: 50px 0 0 0;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form{
    margin: 10px 0 10px 0;
}
.form-control-file{
    color: green;
}
input{
    margin-left: 10px;
}

.btn{
    width: 100%;
}

.errMessage{
    color: red;
    font-weight: 600;
}

.instructions{
    padding: 15px;
    background-color: rgb(11, 207, 11);
    // border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.instructions-header{
    text-decoration: underline !important;
    font-weight: 600;
}

/* For devices with a maximum width of 480 pixels (mobile portrait) */
@media screen and (max-width: 480px) {
    /* Your mobile-specific CSS styles here */
    .card{
        width: 90%;
        margin-top: 150px;
    }
    .instructions{
        width: 100%;
    }
  }
  
  /* For devices with a width between 481px and 768px (tablet portrait) */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    /* Your tablet-specific CSS styles here */
  }