<div class="container">
    <div class="card">
        <div class="card-header text-center">
            Upload Exam
        </div>
        <div class="card-body">
            <select  class="form-control">
                <option *ngFor="let exam of availableExams">{{exam.moduleCode}}</option>
            </select>
            <form action="/action_page.php">
                <label for="examDate"><strong>Exam Date:</strong></label>
                <input type="date" id="examDate" name="examDate">
            </form>
            <form>
                <div class="form-group">
                  <label for="examPaper"><strong>Upload Exam Paper:</strong></label>
                  <input type="file" accept=".PDF" name="examPaper" class="form-control-file" id="examPaper">
                </div>
            </form>
            <button type="button" class="btn btn-primary" >Update Exam</button>
        </div>
      </div>
</div>
