<div class="container">
    <div class="card">
        <div class="card-header text-center">
            Upload Exam
        </div>
        <div class="card-body">
            <select class="form-control">
                <option>Module Code</option>
                <option>ICT3715</option>
                <option>Module Code</option>
                <option>Module Code</option>
            </select>
            <form action="/action_page.php">
                <label for="birthday"><strong>Exam Date:</strong></label>
                <input type="date" id="birthday" name="birthday">
                <!-- <input type="submit"> -->
            </form>
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1"><strong>Upload Exam Paper:</strong></label>
                  <input type="file" accept=".PDF" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </form>
            <button type="button" class="btn btn-primary">Upload Exam</button>
        </div>
      </div>
</div>
